{% trans_default_domain 'feedbacks.tg.contact' %}
ℹ️ {{ 'about_items'|trans }}
▫️ {{ 'company'|trans }}: {{ contacts.company }}
▫️ {{ 'tax'|trans }}: {{ contacts.tax }}
▫️ {{ 'address'|trans }}: {{ contacts.address }}

ℹ️ {{ 'contact_items'|trans }}
▫️ {{ 'phone'|trans }}: {{ contacts.phone }}
▫️ {{ 'email'|trans }}: {{ contacts.email }}
▫️ <a href="{{ contacts.telegram }}">{{ 'telegram'|trans }}</a>
▫️ <a href="{{ contacts.instagram }}">{{ 'instagram'|trans }}</a>
▫️ <a href="{{ contacts.github }}">{{ 'github'|trans }}</a>
▫️ <a href="{{ contacts.linkedin }}">{{ 'linkedin'|trans }}</a>