{% trans_default_domain 'site.contacts' %}

{% extends 'site.layout.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block h1 %}{{ 'h1'|trans }}{% endblock %}

{% block content %}
    <p class="fs-5">{{ 'headline'|trans }}</p>
    <p>{{ 'list_headline'|trans }}:</p>

    <ul>
        <li>{{ 'telegram'|trans }}: <a href="https://t.me/wild_snowgirl" target="_blank">wild_snowgirl</a></li>
        <li>{{ 'instagram'|trans }}: <a href="https://www.instagram.com/wild.snowgirl/"
                                        target="_blank">wild.snowgirl</a></li>
        <li>{{ 'github'|trans }}: <a href="https://github.com/oleksandr-andrushchenko" target="_blank">oleksandr-andrushchenko</a>
        </li>
        <li>{{ 'linkedin'|trans }}: <a href="https://www.linkedin.com/in/oleksandr-andrushchenko-26ab3078/"
                                       target="_blank">oleksandr-andrushchenko-26ab3078</a></li>
        <li>{{ 'email'|trans }}: <a href="mailto:oleksandr.andrushchenko1988@gmail.com">oleksandr.andrushchenko1988@gmail.com</a>
        </li>
    </ul>
{% endblock %}