{% trans_default_domain 'site.contacts' %}

{% extends 'site.html.twig' %}

{% block title %}{{ 'title'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block h1 %}{{ 'h1'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block content %}
    <p class="fs-5">{{ 'headline'|trans({'%bot%': contacts.botName}) }}</p>
    <p>{{ 'list_headline'|trans }}:</p>

    <ul>
{#        <li>{{ 'company'|trans }}: {{ contacts.company }}</li>#}
{#        <li>{{ 'tax'|trans }}: {{ contacts.tax }}</li>#}
{#        <li>{{ 'address'|trans }}: {{ contacts.address }}</li>#}
{#        <li>{{ 'phone'|trans }}: <a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a></li>#}
        <li>{{ 'email'|trans }}: <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></li>
{#        <li><a href="{{ contacts.telegram }}" target="_blank">{{ 'telegram'|trans }}</a> • <a href="{{ contacts.instagram }}" target="_blank">{{ 'instagram'|trans }}</a> • <a href="{{ contacts.github }}" target="_blank">{{ 'github'|trans }}</a> • <a href="{{ contacts.linkedin }}" target="_blank">{{ 'linkedin'|trans }}</a></li>#}
    </ul>
{% endblock %}