{% extends 'site.privacy_policy.html.twig' %}

{% block content %}
    <p>
        Ми в {{ company }} («ми», «нас», «сервіс» або «наш») створили цю політику конфіденційності («Політика
        конфіденційності Chatbot»), щоб описати, як ми збираємо та використовуємо особисту інформацію (визначене нижче)
        від і про користувачів ("користувачі чат-ботів", "користувачі", "ви", "ваш"), які використовують наш Сервіс (як
        визначено нижче) на різних платформах, таких як Telegram (платформи).
    </p>
    <p>
        Ця Політика конфіденційності поширюється на використання Користувачами мобільних функцій, додатків і будь-яких
        інших інтерактивних функцій або служб, якими володіє або контролює {{ company }} (кожна з них «Сервіс» і
        разом «Сервіси»). Певні функції, які обговорюються в цій Політиці конфіденційності, можуть не пропонуватися в
        кожній Послугі в певний час. Ця Політика конфіденційності Chatbot стосується лише платформ месенджерів, таких як
        Telegram.
    </p>
    <p>
        У цій Політиці конфіденційності Chatbot пояснюється, яку Особисту інформацію (визначену нижче) ми збираємо від
        або про Користувачів, як ми використовуємо цю інформацію та надаємо їй доступ, а також ваш вибір щодо нашої
        обробки даних. Ця Політика конфіденційності Chatbot є частиною наших <a
                href="{{ path('app.site_terms_of_use') }}">Умов використання Chatbot</a>.
    </p>
    <p>
        Перш ніж користуватися Сервісом або надсилати нам будь-яку особисту інформацію, уважно перегляньте цю Політику
        конфіденційності чат-бота та зв’яжіться з нами, якщо у вас виникнуть запитання. Користуючись Сервісом, ви
        погоджуєтеся з правилами, описаними в цій Політиці конфіденційності чат-бота. Якщо ви не згодні з цією Політикою
        конфіденційності чат-бота, будь ласка, не користуйтеся Сервісом.
    </p>

    <h2>1. Бот може збирати наступні дані користувачів:</h2>
    <ul>
        <li>Країна походження</li>
        <li>Мова</li>
        <li>IP-адреса</li>
        <li>Номер телефону</li>
        <li>Адреса електронної пошти</li>
        <li>Імя та Фамілія</li>
        <li>Дата народження</li>
        <li>Ідентифікатор користувача платформи</li>
    </ul>

    <h2>2. Видалення інформації:</h2>
    <p>
        Абсолютно вся інформація користувача може бути видалена використовуючи один із, наведених нижче, способів:
    </p>
    <ul>
        <li>Команда "Видалити дані і вийти" в самому боті</li>
        <li>Шляхом <a href="{{ path('app.site_contacts') }}">звернення</a> любим зручним способом</li>
    </ul>
    <p>
        Більше інформації можна знайти <a href="{{ path('app.site_privacy_policy', {_locale: 'en'}) }}">тут</a>.
    </p>
{% endblock %}