{% extends 'site.terms_of_use.en.html.twig' %}

{% block content %}
    <p><b>Останнє оновлення: 27 липня 2023 р.</b></p>
    <p>Ці умови використання є обов’язковою угодою та описують ваші права та
        відповідальність під час використання наших рішень для чат-ботів.</p>
    <p><b>Не приймаючи ці Умови обслуговування, вибачте, але ви не маєте права використовувати наші
            чат-боти.</b></p>
    <p>Використовуючи та отримуючи доступ до наших чат-ботів, ви <b>зобов’язуєтеся погодитися з</b>:</p>
    <ul>
        <li><b>цих Умов надання послуг та</b></li>
        <li><b>відповідна <a href="{{ path('app.site_privacy_policy') }}">політика конфіденційності</a>.</b></li>
    </ul>
    <p>У випадку окремих рішень для чат-ботів наші правила та політика для клієнтів (наприклад, умови використання,
        політика конфіденційності) також є обов’язковими умовами.</p>

    <p>Приймаючи ці умови, ви підтверджуєте, що вони досягли повноліття в країні вашого проживання або
        проживати; інакше ваша згода дійсна лише за умови схвалення вашого законного представника, який має бути
        отримані перед початком використання наших рішень Chatbot.</p>

    <h2>1. У цих Умовах обслуговування застосовуються наведені нижче визначення</h2>

    <p><b>Умови обслуговування</b><b> означають найновішу версію цього документа на момент використання наших
            чат-боти;</b></p>

    <p><b>CHATBOT та/або CHATBOT SOLUTION означає розмовну програму зі штучним інтелектом, яка виконує
            індивідуальний діалог за допомогою аудіальних або екстуальних методів. Такі програми часто розробляються
            переконливо
            змоделюйте, як поводилася б людина як співрозмовник. Чат-боти зазвичай використовуються в діалогових
            системах
            для різних практичних цілей, включаючи обслуговування клієнтів або отримання інформації. Сьогодні більшість
            чат-ботів
            до них можна отримати доступ через такі програми обміну повідомленнями, як Facebook Messenger, Telegram
            Messenger або Rakuten Viber, або через
            індивідуальний
            додатки та веб-сайти організацій (веб-віджети). Чат-боти можна класифікувати за такими категоріями
            використання, як
            розмовна комерція (електронна комерція через чат), аналітика, комунікація, підтримка клієнтів, дизайн,
            розробник
            інструменти, освіта, розваги, фінанси, їжа, ігри, здоров'я, HR, маркетинг, новини, особисте, продуктивність,
            магазини, соціальні послуги, спорт, подорожі та комунальні послуги.</b></p>
    <p>Фреймворк CHATBOT означає <b>минулий, теперішній і майбутній вміст програмного забезпечення та відповідні
            функції,
            технології, продукти та послуги, розроблені {{ contacts.botName }}, включаючи, але не обмежуючись дизайном і
            структура, тексти, зображення, фотографії, ілюстрації, збірки, графічні матеріали, трансляції,
            рекламні слогани, бази даних, конфіденційна інформація, усі елементи Рішення Chatbot, захищені
            авторське право чи інші права (включаючи вихідний і об’єктний коди) і всі інші матеріали, на які можна
            посилатися
            {{ contacts.botName }} і наші чат-боти та сам CHEQ, розташування, вибір і послідовність елементів у
            в
            рішення chatbot, основні характеристики дизайну, всі торгові марки, захищені послуги, назва компанії,
            логотипи, доменні імена, патенти та всі інтелектуальні продукти, які захищені авторським правом і власністю
            права та є власністю {{ contacts.botName }};</b></p>

    <p><b>CHEQ означає спеціальне рішення для чат-бота, розроблене в основному для підтримки внутрішнього спілкування
            кола (наприклад, спілкування B2B, спілкування співробітників), розроблені {{ contacts.botName }} і діють на
            різні платформи;</b></p>

    <p><b>{{ contacts.botName }}</b><b> означає інноваційного постачальника послуг чат-бота, єдиного власника та
            оператор розроблених ним рішень Chatbot, веб-сайт: </b><a
                href="{{ contacts.website }}">{{ contacts.website }}</a><b>;
            Електронна адреса: </b><a
                href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>

    <p><b>Користувач</b><b> означає всіх осіб, які взаємодіють із </b>нашими чат-ботами безпосередньо або
        опосередковано будь-якою з доступних платформ, використовуючи адресу електронної пошти<b>, номер телефону або
            соціальні мережі
            профіль мережі;</b></p>
    <p>АДМІНІСТРАТОР КОРИСТУВАЧ — ті особи, які користуються поверхнею адміністратора наших рішень Chatbot Solutions,
        які контролюють завдання адміністратора
        щодо наших рішень для чат-ботів;</p>

    <p><b>Платформа</b><b> означає середовище інтерфейсу, де користувачі можуть використовувати наші чат-боти та мати
            дивитися Вміст, наприклад Viber, Messenger, WhatsApp, Telegram або веб-віджет;</b></p>
    <p>ДАНІ означають інформацію або Вміст, завантажені, опубліковані, передані або іншим чином надані Користувачами або
        для
        мета керування нашими чат-ботами Клієнтами через наші чат-боти, включаючи повідомлення, файли, коментарі,
        спеціальні
        тексти, написані користувачами, інформація профілю, ім’я користувача, метадані та дані маркерів, аватар, країна,
        мова,
        контактна інформація, номер телефону
        er, адреса електронної пошти, індивідуальний ідентифікатор, внутрішній ідентифікатор, посада, робоче місце,
        надані нашими
        Користувачі;</p>

    <p><b>Вміст</b><b> означає весь чат-бот і </b>всю інформацію, текст, графіку,
        зображення, музика, програмне забезпечення, аудіо, відео, будь-які авторські твори, а також інформація чи інші
        матеріали, які
        публікуються, генеруються, надаються або іншим чином стають доступними через чат-ботів;</p>

    <p><b>GDPR FLOW означає початковий Вміст і вступні кроки разом із відповідною політикою конфіденційності
            і всю інформацію про те, як персональні дані управляються та контролюються під час використання наших
            чат-ботів
            доступні на Платформі. Користувачі повинні надати свою згоду – будь-яку вільно надану, конкретну,
            поінформовану
            і однозначне вказівку на бажання суб'єкта даних, за якими він або вона, шляхом заяви або чіткої
            позитивні дії, означає згоду на обробку персональних даних, що стосуються його чи неї – до
            обробки персональних даних, а також Користувачам необхідно надати відповідну політику конфіденційності під
            час початку використання
            наші чат-боти; Час від часу Користувачі будуть проінформовані про будь-які оновлення щодо відповідної
            конфіденційності
            політики.</b></p>

    <h2>2. Загальні умови використання наших чат-ботів</h2>

    <h3>2.1. Спосіб використання наших чат-ботів:</h3>
    <ul>
        <li><b>{{ contacts.botName }} надає Користувачам доступ до Chatbot Solution; </b></li>
        <li>коли користувачі починають використовувати наші чат-боти, вони отримують інформацію про політику, яка
            стосується використання чат-ботів,
            включаючи обробку персональних даних;
        </li>
        <li><b>{{ contacts.botName }} залишає за собою право забороняти доступ до чат-ботів і видаляти Вміст без
                взяття на себе будь-яких зобов’язань у цьому відношенні;</b></li>
        <li><b>{{ contacts.botName }} залишає за собою право оновлювати Умови надання послуг і всі </b>відповідні
            правила на
            у будь-який час, змінивши цю сторінку, <b>оскільки наші послуги чат-ботів</b> все ще розвиваються, тому нам
            потрібно
            можливість час від часу вносити зміни в наші рішення для чат-ботів, щоб <b>розширювати, покращувати та
                розвивати наші послуги</b>. <b>{{ contacts.botName }}</b> спробує повідомити про ці зміни, але
            перевірте цю сторінку та відвідайте найновіші версії інших сторінок, пов’язаних із
            Час від часу користувачі використовують chatbot, щоб повідомити про будь-які зміни, оскільки вони є
            обов’язковими для вас. Це є
            також варто стежити за нашими обліковими записами та сторінками в соціальних мережах, щоб отримувати
            оновлення;
        </li>
        <li><b>{{ contacts.botName }} залишає за собою право оновлювати </b>відповідну політику конфіденційності
            чат-бот у будь-який час шляхом внесення змін до GDPR Flow чат-бота, який використовується; Про це
            користувачі будуть проінформовані
            зміни, оскільки оновлені політики необхідно прийняти, перш ніж продовжити використання чат-ботів.
        </li>
    </ul>

    <h3>2.2. У випадку CHEQ застосовуються такі додаткові умови:</h3>
    <ul>
        <li><b>Користувачі-адміністратори входять на платформу за допомогою наданого пароля; , щоб змінити пароль
                пропонується
                перший вхід в CHECQ; </b></li>
        <li><b>Користувачі-адміністратори можуть змінювати свої аватари із запропонованого набору;</b></li>
    </ul>

    <h3>2.3. Приймаючи ці Умови використання, користувачі:</h3>
    <ul>
        <li><b>може використовувати чат-ботів лише для цілей, дозволених Умовами надання послуг;</b></li>
        <li><b>надати {{ contacts.botName }} право використовувати будь-який вміст, який вони надсилають через чат-ботів
                як
                необхідно, щоб {{ contacts.botName }} надавав послуги Користувачам;</b></li>
        <li><b>явно погоджується на надсилання службових повідомлень та адміністративних повідомлень – контакту
                відомості, надані Користувачами під час реєстрації – пов’язані з використанням чат-бота;</b></li>
        <li><b>згода на те, що {{ contacts.botName }} може обробляти свої особисті дані через чат-ботів
                користувачами або абсолютно необхідні для роботи функцій чат-бота;</b></li>
        <li><b>не надається право використовувати зображення, знаки, логотипи, бренди чи емблеми, що використовуються в
                чат-бот.</b></li>
    </ul>

    <h3>2.4. Користувачі:</h3>
    <ul>
        <li><b>не мають права змінювати, здавати в оренду, позичати, продавати, розділяти або розшифровувати повністю
                або частково
                рішення chatbot або інформація, отримана під час його використання;</b></li>
        <li><b>не може здійснювати жодних дій, які можуть перешкоджати роботі чат-бота (або серверам і
                мережі, які передають інформацію під час використання та/або пов’язані з чат-ботом);</b></li>
        <li><b>не набувають права копіювати, поширювати, продавати чи здавати в оренду частини рішення чат-бота, що
                належать
                до {{ contacts.botName }};</b></li>
        <li><b>не мають права розшифровувати рішення чат-бота або намагатися отримати або</b> іншим чином
            se derive
            вихідний код, комерційні секрети або ноу-хау або будь-яка їх частина;
        </li>
        <li><b>не набувати жодних прав на інтелектуальну власність або вміст, доступний і похідний з
                чат-бот;</b></li>
        <li><b>не мають права </b>обходити будь-які технічні обмеження чат-бота;</li>
        <li><b>не мають права </b>змінювати, реконструювати чи іншим чином змінювати чат-бота;</li>
        <li><b>не мають права </b>використовувати бота будь-яким способом, забороненим законом, постановою, державними
            наказ чи розпорядження;
        </li>
        <li>заборонено використовувати бота для наклепу, образи, переслідування, переслідування, погроз або іншим чином
            порушувати закон
            права (такі як права на приватність і публічність) інших осіб;
        </li>
        <li><b>не мають права </b>брати участь у діяльності, яка є неправдивою, вводить в оману або шкодить
            інші (включно з дітьми) або чат-бот;
        </li>
        <li><b>не мають права</b> ділитися невідповідним вмістом, рекламою, спамом, шпигунським або шкідливим програмним
            забезпеченням;
        </li>
        <li><b>не мають права </b>отримувати (чи намагатися отримати) неавторизований доступ до будь-яких послуг, даних,
            обліковий запис або мережа будь-яким способом; Порушувати права інших осіб;
        </li>
        <li><b>не мають права використовувати</b>чат-бот будь-де, окрім платформи, на якій чат-бот
            були доступні, якщо видавець бота не дозволив таке використання;
        </li>
        <li><b>не мають права видаляти, змінювати чи підробляти будь-яке повідомлення чи посилання, які
                в бота;
        </li>
        <li>забороняється будь-яким чином погіршувати або скомпрометувати безпеку;</li>
        <li>забороняється вводити в оману твердження щодо функцій чат-бота, продуктивності, походження чи Даних
            використання;
        </li>
        <li>заборонено передавати будь-які віруси чи інший код, який може пошкодити, згубно заважати,
            таємно перехоплювати або експропріювати будь-яку систему чи Дані.
        </li>
    </ul>

    <h3>2.5. Користувач бере до уваги наступне:</h3>
    <ul>
        <li>Користувачі несуть відповідальність за збереження конфіденційності та безпеки свого облікового запису;</li>
        <li>{{ contacts.botName }} не несе відповідальності за будь-які збитки чи втрати, спричинені Користувачами
            невдача
            для захисту своєї реєстраційної інформації, включаючи ваш пароль;
        </li>
        <li><b>якщо під час використання чат-бота записуються персональні дані третьої особи, отримання згоди
                необхідні для обробки даних цієї особи та їх передачі чат-боту Користувачі
                відповідальність;</b></li>
        <li><b>{{ contacts.botName }} зазвичай є процесором даних для обробки даних від імені
                з;</b></li>
        <li><b>персонал {{ contacts.botName }} бере участь у роботі чат-бота та забезпечує
                служби, доступні через чат-бот, можуть дізнаватися особисті дані користувачів, якщо це абсолютно
                необхідно
                для досягнення мети використання даних;</b></li>
        <li><b>обробка даних є добровільною; правовою підставою для обробки персональних даних є добровільна згода
                Користувачі відповідно до GDPR, додаткова інформація доступна в нашому <a
                        href="{{ path('app.site_privacy_policy') }}" target="_blank" rel="noopener"><u>Конфіденційність
                        Політика</u></a>;</b>
        </li>
        <li><b>Щоб керувати деякими функціями чат-бота, ми співпрацюємо зі сторонніми та зовнішніми сторонами
                постачальників послуг, оскільки передача або використання персональних даних користувачів через них є
                важливою
                сторони в обсязі та протягом часу, необхідного для функціонування функцій.</b></li>
    </ul>

    <h3>2.6. {{ contacts.botName }} відповідає за:</h3>
    <ul>
        <li><b>надання та допоміжні послуги;</b></li>
        <li>надання рішень чат-ботів доступними для користувачів;
        </li>
        <li>не використовувати та не обробляти Персональні дані для будь-яких цілей без вказівок Користувача;
        </li>
        <li>використовуючи комерційно обґрунтовані зусилля, щоб зробити Рішення чат-ботів доступними 24 години на добу,
            7 днів на тиждень,
            виключення планових простоїв;
        </li>
        <li>робимо все можливе для безпеки та захисту даних.</li>
    </ul>

    <h2>3. Безпека та захист даних</h2>

    <p>Забезпечуючи високоякісну взаємодію з користувачем, безпека та захист даних завжди були пріоритетом для
        {{ contacts.botName }}. З метою підтримки приватного, конфіденційного та безпечного середовища чат-бота ми
        будемо
        брати
        розумні адміністративні, фізичні та технічні засоби захисту, такі як заходи для запобігання несанкціонованому
        доступ, використання, зміна, видалення та розкриття Персональних даних.</p>
    <p>Ми прагнемо вибрати нашого батька
        rtners, які можуть забезпечити підтримку аналогічних методів безпеки та захисту даних. однак,
        ми не можемо охопити всі аспекти захисту наших чат-ботів. Наприклад, Користувачі є
        відповідальність за власну адекватну безпеку та заходи захисту, коли вони знаходяться у володінні або під
        контролем
        персональних даних. Захист даних має бути важливим для кожного. Ми не несемо відповідальності за Користувачів
        погані практики управління даними, мережі та
        операційна система та програмне забезпечення їхніх веб-серверів, баз даних і комп’ютерних систем, належна
        конфігурація,
        безпечна робота та зберігання.</p>
    <p>У будь-якому випадку, щоб захистити користувачів і наші служби чат-ботів, {{ contacts.botName }} залишає за собою
        право вживати будь-які дії, які вважає
        необхідно, якщо щось порушує безпечну роботу чат-ботів.</p>

    <p><b>{{ contacts.botName }} має на меті мінімізувати обсяг запитуваних і використаних даних лише до тих, які
            потрібні та
            підходить для функціонування наших чат-ботів. Ми попереджаємо користувачів, що не</b>надавайте
        конфіденційні, приватні,
        та конфіденційну особисту інформацію, таку як номери кредитних карток або паролі, якщо вони не є особливими
        необхідні для законної роботи чат-бота. {{ contacts.botName }} інформує користувачів про те, як вони
        використовуються дані та забезпечують публічний і легкий доступ до відповідної політики конфіденційності, яка
        чітко пояснює, як
        чат-бот збирає, використовує, обробляє та зберігає Дані, а також контроль, який Користувачі мають над своїми
        Даними. Це те, що
        GDPR Flow призначений для. Трохи додаткової інформації – про те, як ми збираємо та використовуємо дані,
        пов’язані з нашими веб-сайтами та
        рішення chatbot – визначено в політиках, доступних на веб-сайті {{ contacts.botName }}. Будь ласка, подивіться
        їх.</p>
    <p><b>Під час роботи чат-ботів {{ contacts.botName }} може обробляти такі дані та
            чат-боти можуть отримати доступ до наступних функцій пристрою (таких як мобільний телефон, iPad, комп’ютер).
            за допомогою чат-ботів:</b></p>
    <ul>
        <li><b>У випадку Viber або Telegram: ім'я; включаючи ім’я користувача viber, аватар, країну, мову, голоси в
                опитуванні, завантажені
                Відео, завантажені зображення, власні тексти, написані користувачами, події користувача, визначені
                Viber;</b></li>
        <li><b>У випадку месенджера: ідентифікатор користувача;</b></li>
        <li><b>адреса електронної пошти; </b></li>
        <li><b>особисті дані, зазначені в тексті електронного листа;</b></li>
        <li><b>номер телефону;</b></li>
        <li><b>дані контактних осіб;</b></li>
        <li><b>ідентифікатор Facebook, Google+ або адресної книги;</b></li>
        <li><b>ідентифікатор пристрою;</b></li>
        <li><b>дані GPS для фактичного розташування, інформація про стільниковий телефон;</b></li>
        <li><b>зображення профілю;</b></li>
        <li>&nbsp;</li>
    </ul>

    <h2>4. Ліцензія</h2>

    <p>З дотриманням наведених нижче обмежень {{ contacts.botName }} надає чат-бота <b>для некомерційних,
            невиключне, </b>не підлягає передачі, <b>обмежене особисте використання, а чат-бот можна використовувати без
            з іншою метою без попередньої письмової згоди </b>{{ contacts.botName }}<b>. Користувачі погоджуються
            задовольнити
            усі вимоги щодо авторського права, інформацію та обмеження, які можна знайти в будь-якій частині
        </b>чат-бот<b>.
            Користувач не має права змінювати, видаляти або маскувати будь-який знак авторського права, товарний знак,
            патент або подібний знак у
        </b>чат-бот<b>, у тому числі у завантажуваних, пересиланих, представлених або друкованих частинах
        </b>чат-бот <b>або частини, відтворені будь-якими іншими засобами. </b>Користувачі не погоджуються
        перепродавати, дублювати, відтворювати чи використовувати будь-яку частину чат-бота, якщо {{ contacts.botName }}
        не надав і висловив
        письмовий дозвіл на це.</p>

    <p>Усі права, прямо не надані цими Умовами надання послуг, зберігаються.</p>

    <h2>5. Загальні умови</h2>

    <p>Чат-боти надаються <em>“</em><em>як є</em>” та “<em>як доступно</em><em>” </em>без заяв або
        будь-які гарантії, явні чи неявні, включаючи, але не обмежуючись, непрямі гарантії
        товарність, придатність для певної мети та відсутність порушення. {{ contacts.botName }} не надає жодних
        гарантій
        щодо</p>
    <p>(i) Здатність користувачів використовувати чат-бот,</p>
    <p>(ii) Задоволеність користувачів чат-ботом,</p>
    <p>(iii) що чат-бот буде доступний у будь-який час, безперервно та без помилок, і</p>
    <p>(iv) що помилки в чат-боті будуть негайно виправлені.</p>
    <p>{{ contacts.botName }} не несе відповідальності за будь-які прямі, непрямі, випадкові, наслідкові, спеціальні,
        зразкові, штрафні або інші збитки, що виникли внаслідок або будь-яким чином пов’язані з використанням вами
        чат-бота. Користувачі є
        щоб виправити своє невдоволення чат-ботом, це припинити його використання.</p>
    <p>Користувачі погоджуються</p>
    <p>(i) ні
        діяти таким чином, що ризикує пошкодити, дезактивувати або перевантажити наші Рішення для чат-ботів і його
        інфраструктура;</p>
    <p>(ii) не поширювати нічого, що містить комп’ютерний вірус або будь-який код, файл або програмне забезпечення,
        призначене для
        переривати, руйнувати або обмежувати функціональність чат-бота чи його інфраструктури.</p>
    <p>Вміст і користувачів буде видалено, якщо {{ contacts.botName }} вирішить на власний розсуд, що вони
        є незаконними, образливими, погрозливими, наклепницькими, порнографічними, непристойними чи іншим чином
        неприйнятними або
        порушує інтелектуальну власність будь-якої сторони або ці <b>Загальні положення та умови</b>.</p>

    <h2>6. Подільність</h2>

    <p>Якщо будь-яке положення або частина цієї Угоди буде визнано незаконним, недійсним або таким, що не підлягає
        виконанню повністю або частково,
        згідно з будь-яким застосовним законодавством, таке положення або частина вважатиметься не частиною цієї Угоди,
        але
        це не вплине на законність, дійсність і можливість виконання решти цієї Угоди.</p>

    <h2>7. Відмова</h2>

    <p>Відсутність неспроможності, затримки чи часткового використання будь-якою стороною будь-якого права чи засобу
        правового захисту за цим
        Угода має тлумачитися або діяти як відмова від цього, якщо вона не укладена в письмовій формі за підписом
        сторони, яка відмовляється
        і така відмова буде ефективною лише стосовно конкретного описаного зобов’язання. Відмова від будь-якого
        Порушення Стороною будь-якого положення цієї Угоди іншою Стороною не повинно діяти або тлумачитися як a
        відмова від будь-якого подальшого порушення того самого положення або іншого положення цієї Угоди. Права і
        засоби правового захисту, передбачені цією Угодою, є сукупними та не виключають жодних прав або засобів
        правового захисту, наданих
        закон.</p>

    <h2>8. Обмеження відповідальності</h2>

    <p><b>Обмеження відповідальності, вказане вище, застосовується до:</b></p>
    <p><b>(i) будь-що, пов’язане з чат-ботом і послугами чат-ботів;</b></p>
    <p><b>(ii) претензії щодо порушення договору, гарантії чи умови; сувора відповідальність, недбалість або
            інший делікт; порушення закону чи положення; безпідставне збагачення; або за будь-якою іншою теорією; все до
            в межах, дозволених чинним законодавством;</b></p>
    <p><b>(iii) випадки, коли такий засіб не повністю компенсує всі збитки.</b></p>

    <h2>9. Форс-мажор</h2>

    <p>{{ contacts.botName }} нестиме відповідальність за будь-який збій або затримку у виконанні
        його
        зобов’язання у зв’язку з подіями поза межами розумного контролю сторони, які можуть включати відмову в
        обслуговуванні
        атаки, збій стороннього хостинг-провайдера або постачальника комунальних послуг, страйки, дефіцит, заворушення,
        пожежі, дії
        Бога, війни, тероризму та дій уряду.</p>

    <h2>10. Призначення</h2>

    <p>Жодна зі сторін не може передавати чи делегувати будь-які свої права чи обов’язки за цим Договором, чи то в силу
        закону чи
        в іншому випадку без попередньої письмової згоди іншої сторони. У разі порушення цього розділу,
        сторона, яка не передає право, має право розірвати договір між Сторонами, повідомивши про це письмово
        сторона, що призначає. Відповідно до вищевикладеного Договір і ці Умови надання послуг є обов’язковими для
        на користь сторін, їхніх відповідних правонаступників і дозволених правонаступників.</p>

    <h2>11. Продукти третіх осіб, зовнішні постачальники послуг</h2>

    <p>Послуги чат-ботів {{ contacts.botName }} включають платформи, які треті сторони можуть використовувати для
        розробки програм і
        програмне забезпечення.
        Однак такі продукти сторонніх розробників забезпечують додаткову взаємодію з користувачем і додаткові функції,
        також зверніть увагу
        пам’ятайте, що ці зовнішні сторони мають доступ до будь-яких Даних, які будуть надані. Оскільки це не наші
        послуги, ми
        не гарантують і не підтримують сторонні продукти та дії зовнішніх постачальників послуг, {{ contacts.botName }}
        ні
        нести відповідальність за будь-яке використання, розкриття, зміну або видалення Даних, які передаються або до
        яких
        третя сторона та її продукт, в кінцевому підсумку користувачі вирішуватимуть, використовувати їх чи ні. У
        випадку
        Користувачі вирішують увімкнути їх, вони несуть повну відповідальність за будь-яке таке використання сторонніх
        продуктів
        через зовнішніх постачальників послуг. {{ contacts.botName }} не несе жодної відповідальності за поведінку
        третіх осіб
        партії
        (зокрема, але не виключно: Telegram, Viber, Facebook, інші програми, клієнти, користувачі) публічна платформа
        який слугує інтерфейсом користувача для доступу до Служби чат-бота або будь-якої зміни в їхніх
        політиках. {{ contacts.botName }}
        не несе жодної відповідальності за поведінку третіх сторін (наприклад, за використання та обробку
        дані Клієнта, дії Користувачів під час використання наших чат-ботів).</p>

    <p><b>Наприклад, такі зовнішні постачальники послуг:</b></p>
    <p><b>Facebook Ireland Ltd. Hanover Reach, 5-7
            Hanover Quay, Dublin 2 Ireland, компанія, зареєстрована в Ірландії
            під номером 462932 (Facebook: вхід, пошук/запрошення друзів і обмін)</b></p>
    <p><b>Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, Сполучені Штати Америки) Google+:
            Вхід, пошук/запрошення друзів і обмін; сервер Google Push Notification; сервер карт Google;
            Служби Google Play;</b></p>
    <p><b>Apple Inc. (1 Infinite Loop, Купертіно, Каліфорнія, США, 95014) Apple GameCenter; Карти Apple; Apple Push
            Сервер сповіщень;</b></p>
    <p><b>Viber Media S.à r.l., до уваги: спеціаліст із захисту даних, 2, rue du Fossé, L- 1536 Люксембург, Велике
            Герцогство
            Люксембургу.</b></p>
    <p><b>Microsoft Corporation: Microsoft Headquarters One Microsoft Way Redmond, WA 98052, USA</b></p>

    <h2>12. Застосовне право</h2>

    <p>Ця Угода регулюється та тлумачиться відповідно до законодавства України та будь-яких правових дій або
        провадження щодо цієї Угоди порушується в судах України.</p>
{% endblock %}