{% trans_default_domain 'site.contacts' %}

{% extends 'site.layout.html.twig' %}

{% block title %}{{ 'title'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block h1 %}{{ 'h1'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block content %}
    <p class="fs-5">{{ 'headline'|trans({'%bot%': contacts.botName}) }}</p>
    <p>{{ 'list_headline'|trans }}:</p>

    <ul>
        <li><a href="{{ contacts.telegram }}" target="_blank">{{ 'telegram'|trans }}</a></li>
        <li><a href="{{ contacts.instagram }}" target="_blank">{{ 'instagram'|trans }}</a></li>
        <li><a href="{{ contacts.github }}" target="_blank">{{ 'github'|trans }}</a></li>
        <li><a href="{{ contacts.linkedin }}" target="_blank">{{ 'linkedin'|trans }}</a></li>
        <li><a href="mailto:{{ contacts.email }}">{{ 'email'|trans }}</a></li>
        <li><a href="tel:{{ contacts.phone }}">{{ 'phone'|trans }}</a></li>
    </ul>
{% endblock %}