{% extends 'site.terms_of_use.en.html.twig' %}

{% block content %}
    <p><b>про надання послуг доступу до чат-боту "{{ contacts.botName }}"</b></p>
    <p><b>Останнє оновлення: 27 липня 2023 р.</b></p>

    <p>Документ, положення якого викладені нижче по тексту, є публічною офертою та публічним договором. Згідно із
        положеннями ст.ст. 633, 641 Цивільного кодексу України умови публічної оферти та публічного договору є
        однаковими для всіх Замовників (Замовників). У відповідності до ч. 2 ст. 642 Цивільного кодексу України,
        використання чат-боту "{{ contacts.botName }}" є акцептом
        даної оферти, що прирівнюється до укладення договору на умовах викладених нижче
        по тексту, а також положення Політики конфіденційності. Політика конфіденційності регулює особливості обробки
        Замовником персональних даних Замовників. Ознайомитися із положеннями Політики конфіденційності Компанії можна
        за <a href="{{ path('app.site_privacy_policy') }}" target="_blank">посиланням</a>. Політика конфіденційності є
        невід’ємною частиною цих Умов.</p>
    <p>Дана публічна оферта адресована всім фізичним та юридичним особам, що бажають скористатися послугою і мають
        технічну можливість одержання послуги.</p>
    <p>{{ contacts.company }} - код ЄДРПОУ {{ contacts.tax }}, (далі – Виконавець) з однієї сторони, керуючись чинним
        законодавством України пропонує (публічна оферта) фізичній особі та/або юридичній особі (далі – Замовнику), в
        подальшому разом – Сторони, а кожен окремо – Сторона, укласти публічний договір про надання послуг (далі –
        Договір) на наступних умовах:</p>

    <h2>1. Терміни та визначення</h2>
    <p>1.1. Чат-бот (сервіс) – це аналітично-інформаційна пошукова програма, яка доступна за адресою -
        <a href="{{ contacts.botLink }}" target="_blank">{{ contacts.botLink }}</a> (адреса сервісу), та має назву -
        "{{ contacts.botName }}".</p>
    <p>1.2. Реєстрація на сервісі – ініціювання діалогу Замовником за адресою сервісу (початок використання).</p>
    <p>1.3. Публічна оферта (договір) – пропозиція Виконавця, адресована будь-якій фізичній та/або юридичній особі,
        у відповідності зі статтею 633 Цивільного кодексу України, укласти з ним публічний договір про надання послуг
        доступу до чат-боту.</p>
    <p>1.4. Акцепт – повна й безумовна згода Замовника на укладення даного Договору на умовах, визначених даним
        Договором.</p>
    <p>1.5. Виконавець – {{ contacts.company }} - код ЄДРПОУ {{ contacts.tax }}.</p>
    <p>1.6. Замовник – фізична та/або юридична особа, Замовник сервісу, яка погодилася з Умовами та Політикою
        конфіденційності Виконавця, та зареєструвалась у встановлений спосіб на сервісі, якій Виконавець надає послуги у
        відповідності до умов даного Договору.</p>
    <p>1.7. Послуга – це надання Виконавцем Замовнику доступу до сервісу на платній або безкоштовній основі, після
        проходження Замовником реєстрації в порядку встановленому даним Договором.</p>
    <p>1.8. Платні послуги (преміум-підписка) – надання за певну плату, у грошовому виразі, Виконавцем Замовнику
        послуги в об’ємі передбаченому даним Договором, який Замовник обирає самостійно.</p>
    <p>1.9. Безкоштовні послуги – надання Виконавцем Замовнику послуги обмеженого доступу, тобто до
        обмеженої інформації за пошуком, яка міститься на сервісі. Обсяг обмеженого доступу визначається Виконавцем на
        власний розсуд та може змінюватись без погодження з Замовником.</p>
    <p>1.10. Вартість послуг (тариф) – платіж, розмір якого встановлюється Виконавцем за надання певного обсягу послуг
        для Замовника за доступ до сервісу.</p>
    <p>1.11. Обсяг послуг – це можливості, функціонал, контент, які є доступними для Замовника на умовах певного
        Тарифного плану та визначають обсяг прав Замовника на використання Сервісу.</p>
    <p>1.12. Тарифний план – це умови, які визначають обсяг послуг, доступних Замовнику протягом певного терміну (1
        день, 3 дні, 1 місяць, 6 місяців, 1 рік тощо), а також розмір оплати, яку повинен здійснити Замовник для
        отримання доступу до таких Ресурсів.</p>
    <p>1.13. Персональні дані – відомості чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути
        конкретно ідентифікована.</p>
    <p>1.14. Суб'єкт персональних даних – фізична особа, стосовно якої відповідно до чинного законодавства здійснюється
        обробка її персональних даних.</p>
    <p>1.15. Згода суб'єкта персональних даних – будь-яке добровільне волевиявлення фізичної особи щодо надання дозволу
        на обробку її персональних даних відповідно до сформульованої мети їх обробки. Реєстрація на сервісі передбачає
        надання згоди суб’єктом персональних даних на їх обробку.</p>
    <p>1.16. Акаунт – сукупність інформації про Замовника, що ним надана.</p>

    <h2>2. Загальні положення</h2>
    <p>2.1. На підставі та умовах визначених даним Договором Виконавець надає Замовнику, а Замовник приймає послуги з
        доступу до сервісу лише після ініціювання діалогу Замовником за адресою сервісу.</p>
    <p>2.2. Послуга надається на платній або безкоштовній основі за вибором Замовника шляхом надання доступу до
        сервісу.</p>
    <p>2.3. Всі зміни й доповнення до даного Договору опубліковуються на <a href="{{ contacts.website }}"
                                                                            target="_blank">сайті</a> Виконавця.</p>
    <p>2.4. Всі умови даного Договору є обов'язковими як для Замовника, так і для Виконавця. Перед початком користування
        Послугою Замовник зобов'язаний ознайомитися з умовами даного Договору. Якщо Замовник не згодний з умовами даного
        Договору, він не вправі користуватися послугами.</p>
    <p>2.5. У разі незгоди Замовника зі змінами, внесеними Виконавцем у даний Договір або з новими тарифами на Послугу
        Замовник повинен припинити користування сервісом.</p>
    <p>2.6. Замовник — суб'єкт персональних даних, який пройшовши реєстрацію на сервісі, надає згоду на обробку його
        персональних даних в базі персональних даних Виконавця, а також погоджується отримувати регулярні повідомлення
        від сервісу.</p>
    <p></p>

    <h3>3. Порядок надання послуг</h3>
    <p>3.1. Замовник самостійно реєструється на сервісі та автоматично отримує «Відкритий» доступ.</p>
    <p>3.2. Використання платного доступу є можливим після реєстрації Замовником та вибору платного періоду у порядку,
        передбаченому цими Умовами.</p>
    <p>3.3. У випадку, якщо оплата не була здійснена або продовжена після платного періоду, доступ здійснюється у рамках
        «Відкритого» доступу.</p>
    <p>3.4. Доступ до сервісу, як комп’ютерної програми, є постачанням програмної продукції в розумінні пункту 26¹
        підрозділу 2 розділу ХХ «Перехідні положення» Податкового кодексу України, та звільняється від оподаткування
        ПДВ.</p>
    <p>3.5. Виконавець може на свій розсуд встановити додаткову функціональність, яка може надати Замовнику доступ до
        додаткових ресурсів сервісу. Ресурси, отримані Замовником на умовах додаткової пропозиції, не залежать від
        Тарифного плану Замовника та не впливають на обсяг послуг, доступних у рамках відповідного Тарифного плану.
        Умови додаткових пропозицій розміщуються у Сервісі і становлять невід’ємну частину цих Умов.</p>
    <p>3.6. Виконавець залишає за собою право на свій розсуд і у будь-який час змінювати умови Тарифних планів. При
        цьому, Замовник у будь-який час може замінити свій Тарифний план на інший з тих, що пропонуються Виконавцем на
        відповідний момент. Зміни Тарифних планів не поширюються на періоди, які були оплачені Замовником, а набувають
        чинності після спливу оплаченого періоду користування сервісу.</p>
    <p>3.7. Умови Тарифних планів та умови Обсягу послуг становлять невід’ємну частину цих Умов та є обов’язковими для
        усіх Замовників. Крім того, у Сервсі можуть бути розміщені додаткові положення, що стосуються доступу до
        Сервсіу. Такі положення також є невід’ємною частиною цих Умов.</p>

    <h2>4. Акаунт</h2>
    <p>4.1. Для використання функціоналу Сервісу, Замовнику необхідно зареєструвати Акаунт - пройти Реєстрацію на
        сервісі.</p>
    <p>4.2. Реєструючись в Сервісі, ви підтверджуєте, що ви є дієздатною фізичною особою, яка діє від власного імені або
        на законних підставах від імені юридичної особи. Ви також підтверджуєте, що вся інформація, надана в ході
        реєстрації, є достовірною, точною і актуальною.</p>
    <p>4.3. Порядок зберігання та обробки персональних даних фізичних осіб Замовником встановлено в <a
                href="{{ path('app.site_privacy_policy') }}" target="_blank">Політиці
            конфіденційності</a>.</p>
    <p></p>

    <h2>5. Права та обовʼязки сторін</h2>
    <p>5.1. Виконавець зобов'язується:</p>
    <p>5.1.1. Надавати Замовнику послуги відповідно до сплаченого об’єму послуг.</p>
    <p>5.1.2. Зберігати конфіденційність персональних даних Замовника, отриманих при реєстрації Акаунту та/або
        використання сервісу.</p>
    <p>5.1.3. За вимогою Замовника, надавати Акти приймання-передачі в електронному вигляді із використанням
        електронно-цифрового підпису, що відповідає вимогам законодавства.</p>
    <p>5.2. Виконавець має право:</p>
    <p>5.2.1. Припиняти надання платних послуг з моменту закінчення строку їх надання.</p>
    <p>5.2.2. Змінювати порядок надання послуг та їх вартість без переукладання даного Договору, опублікувавши зміни на
        <a href="{{ contacts.website }}">сайті</a>.</p>
    <p>5.2.3. Розкривати будь-які відомості, якщо це необхідно, відповідно до законодавства України, на вимогу
        уповноважених державних установ, а також для забезпечення нормального функціонування сервісу або захисту
        Виконавця та Замовника(ів), якщо це не суперечить відповідним Конституційним правам громадян та діючому
        законодавству України.</p>
    <p>5.3. Замовник зобов'язується:</p>
    <p>5.3.1. Дотримуватися умов даного Договору.</p>
    <p>5.3.2. Не перепродавати, не надавати результати послуг за даним Договором третім особам.</p>
    <p>5.3.3. Ознайомитись з Договором, умовами надання обраних послуг, дотримуватись та виконувати їх вимоги.</p>
    <p>5.3.4. Тримати в таємниці всі мережеві реквізити (логіни, паролі).</p>
    <p>5.3.5. Замовник зобов’язується не здійснювати збір, копіювання і обробку персональних даних інших осіб, а також
        будь-якої іншої інформації, розміщеної в Сервісі, зокрема шляхом парсингу, тобто збору, аналізу, обробки та
        збереження розміщеної на веб-сторінках Сервісу інформації шляхом застосування програм-парсерів («павуків») та
        їхніх аналогів.</p>
    <p>5.4. Замовник має право:</p>
    <p>5.4.1. Отримувати інформацію про послуги, тарифи.</p>
    <p>5.4.2. Використовувати Сервіс у межах функціоналу доступного за обраним Тарифним планом згідно із цими
        Умовами.</p>
    <p>5.4.3. Звертатися до Виконавця із запитом щодо отримання Акту приймання-передачі в електронному вигляді із
        використанням електронно-цифрового підпису, що відповідає вимогам законодавства.</p>
    <p>5.4.4. У разі виникнення будь-яких питань, скарг або пропозицій щодо використання Сервісу або необхідності в
        отриманні іншої інформації в межах компетенції Виконавця, звертатися до служби технічної підтримки за допомогою
        відповідного функціоналу Сервісу або шляхом надсилання повідомлення на електронну пошту Виконавця, що вказана на
        <a href="{{ path('app.site_contacts') }}" target="_blank">сайті</a>.</p>
    <p></p>

    <h2>6. Вартість послуг та порядок оплати</h2>
    <p>6.1. Вартість Послуг за даним Договором визначається відповідно до діючих тарифних планів, які опубліковані на
        сервісі. Ціни вказуються в національній валюті України.</p>
    <p>6.2. Оплата Послуг здійснюється Замовником шляхом безготівкового платежу на розрахунковий рахунок Виконавця.</p>
    <p>6.3. Послуги надаються за умови внесення оплати в розмірі 100% за фактом надходження оплати на розрахунковий
        рахунок Виконавця. Датою початку надання Послуг Виконавцем є день надходження коштів на розрахункових рахунок
        Виконавця від Замовника.</p>
    <p>6.4. Замовник самостійно несе відповідальність за правильність здійснених ним платежів.</p>

    <h2>7. Інформація сервісу</h2>
    <p>7.1. В Сервісі можуть бути розміщені публікації, статті та інші інформаційні матеріали публіцистичного,
        аналітичного та іншого характеру. Авторами цих матеріалів може бути як Виконавець, так і інші особи. Виконавець
        в жодному випадку не несе відповідальності за достовірність цих матеріалів та наслідки їхнього використання.</p>
    <p>7.2. Дані, отримані з ресурсів третіх осіб, є відкритими даними, отриманими з офіційних джерел, пошукових систем
        Google, ресурсів інших третіх осіб, які мають право збирати, обробляти та передавати дані згідно з
        законодавством України. Сервіс збирає, аналізує та використовує дані з відкритих джерел, в тому числі але не
        виключно з набору даних, які підлягають оприлюдненню відповідно до Постанови Кабінету Міністрів України № 835
        «Про затвердження Положення про набори даних, які підлягають оприлюдненню у формі відкритих даних», згідно із
        Законом України «Про доступ до публічної інформації».</p>
    <p>7.3. Відповідність та правильність даних в Сервісі залежить від правильності таких даних на ресурсах третіх осіб.
        Виконавець не несе жодної відповідальності за зміст таких даних, а також за наслідки їхнього використання.</p>
    <p>7.5. Сервіс може містити посилання на веб-сайти, веб-сторінки та програми третіх сторін. Замовник самостійно несе
        відповідальність за ознайомлення з Умовами використання відповідних веб-сайтів і погоджуєтеся з тим, що
        використовуєте такі веб-сайти на свій власний ризик та несете повну відповідальність за відповідні дії.</p>

    <h2>8. Відповідальність сторін</h2>
    <p>8.1. Виконавець не несе відповідальності за повноту і достовірність будь-якої інформації, в тому числі зведених
        та аналітичних даних, заснованих на машинному аналізі даних, які отримані з офіційних джерел публічної
        інформації та ресурсів третіх осіб.</p>
    <p>8.2. Зведені дані, зв’язки та аналітична інформація в Сервісі має винятково інформаційний характер. Замовник
        використовує зведені дані та аналітичну інформацію для прийняття будь-яких рішень виключно на власний розсуд, і
        Виконавець не несе жодної відповідальності за наслідки використання цих даних та аналітичної інформації.</p>
    <p>8.3. Якщо Замовник не задоволений умовами та/або якістю роботи Сервісу, - Замовнику потрібно негайно припинити
        використання його.</p>
    <p>8.4. Виконавець не несе відповідальності за будь-які збитки (прямі, непрямі і випадкові), у тому числі за упущену
        вигоду, що виникли внаслідок порушення у роботі Сервісу, в результаті його використання або неможливості
        використання. Виконавець не несе відповідальності за будь-які дії чи бездіяльність особи та їхні наслідки,
        пов’язані із використанням інформації, отриманої з Сервісу, якщо інше не встановлено законом.</p>
    <p>8.5. За невиконання або неналежне виконання своїх зобов’язань за цими Умовами Сторони несуть відповідальність
        відповідно до чинного законодавства України.</p>
    <p>8.6. Замовник зобов’язується не порушувати і не намагатися порушувати положення цих Умов. Якщо Виконавець на свій
        розсуд визначить, що Замовник порушив або намагався порушити ці Умови, доступ Замовника до Сервісу може бути
        припинений. Виконавець може обмежити доступ Замовника до Сервісу, заблокувати або видалити Акаунт у зв’язку із
        порушенням даного Договору.</p>

    <h2>9. Порядок вирішення спорів</h2>
    <p>9.1. Ці Умови та відносини між Сторонами регулюються законодавством України.</p>
    <p>9.2. Всі спори, які можуть виникнути в зв’язку з цими Умовами, у тому числі будь-які питання стосовно їхнього
        виконання, укладення, дійсності чи розірвання, Сторони будуть намагатися вирішити шляхом переговорів.</p>
    <p>9.3. Замовник погоджується, що для цілей вирішення спорів між Сторонами ефективним і обов’язковим для
        використання засобом комунікації є листування з Замовником за електронною адресою та\або телефоном.</p>
    <p>9.4. У разі, якщо Сторони не дійдуть згоди щодо спору протягом 30 (тридцяти) календарних днів, спір передається
        на розгляд до компетентного суду відповідно до законодавства України.</p>

    <h2>10. Права інтелектуальної власності</h2>
    <p>10.1. Всі компоненти Сервісу в цілому належать Виконавцю й охороняються законодавством у сфері захисту прав
        інтелектуальної власності.</p>
    <p>10.2. Використання в комерційних цілях будь-яких матеріалів або елементів Сервісу без письмового
        дозволу {{ contacts.company }} суворо заборонене.</p>

    <h2>11. Прикінцеві положення</h2>
    <p>11.1. Сторони погодили використання електронно цифрового підпису (ЕЦП) у документообігу в межах виконання цього
        договору (умов)</p>
    <p>11.2. Замовник має право припинити дію цих Умов в односторонньому порядку в будь-який час шляхом видалення свого
        Акаунту. Для видалення Акаунту Замовнику потрібно надіслати лист із відповідним запитом на електронну пошту
        Виконавця.</p>
    <p>11.3. Виконавець має право припинити дію цих Умов в односторонньому порядку в будь-який час.</p>
    <p>11.4. Виконавець має право вносити зміни або доповнення до цих Умов в будь-який час без будь-якого спеціального
        повідомлення, розмістивши нову редакцію Умов у відповідному розділі Сервісу. Нова редакція Умов набуває чинності
        з моменту її розміщення в Сервісі, якщо інше не передбачено новою редакцією Умов. Замовник повинен періодично
        переглядати актуальні Умови. Якщо після спливу 5 (п'яти) календарних днів після внесення змін Замовник продовжує
        використовувати Сервіс, то це означає, що Замовник повністю і беззастережно погоджується із такими змінами.</p>
    <p>11.5. Усі запити щодо використання Сервісу, зокрема ті, що передбачені цими Умовами, повинні
        надсилатися {{ contacts.company }} використовуючи любий зручний <a
                href="{{ path('app.site_contacts') }}" target="_blank">спосіб</a>.</p>
{% endblock %}