{% extends 'site.terms_of_use.html.twig' %}
{#https://talkabot.net/terms-of-service/#}
{% block content %}
    <p><b>Last updated: 27 July, 2023</b></p>
    <p>These terms of service form a binding agreement and describes your the rights and
        responsibilities when using our chatbot solutions.</p>
    <p><b>Without accepting these Terms of Service, we are sorry, but you have no right to use our
            chatbots.</b></p>
    <p>By using and accessing our chatbots you <b>are bound to agree to</b>:</p>
    <ul>
        <li><b>the present Terms of Service, and</b></li>
        <li><b>the applicable <a href="{{ path('app.site_privacy_policy') }}">privacy policy</a>.</b></li>
    </ul>
    <p>In case of individual chatbot solutions our Customers regulations and policies (such as terms of use,
            privacy policy) are binding terms as well.</p>

    <p>By accepting these terms, you represent that they have reached the age of majority where you live or
            reside; otherwise your consent is only valid with the approval of your legal representative, which must be
            obtained before starting to use our Chatbot Solutions.</p>

    <h2>1. In these Terms of Service the following definitions shall apply</h2>

    <p><b>Terms of Service</b><b> mean the most recent version of this document at the time of using our
            chatbots;</b></p>

    <p><b>CHATBOT and/or CHATBOT SOLUTION means a conversational program with an artificial intelligence conducts a
            one-to-one dialogue via auditory or extual methods. Such programs are often designed to convincingly
            simulate how a human would behave as a conversational partner. Chatbots are typically used in dialog systems
            for various practical purposes including customer service or information acquisition. Today, most chatbots
            are accessed via messaging apps such as Facebook Messenger, Telegram Messenger or Rakuten Viber, or via
            individual
            organizations’ apps and websites (web widgets). Chatbots can be classified into usage categories such as
            conversational commerce (e-commerce via chat), analytics, communication, customer support, design, developer
            tools, education, entertainment, finance, food, games, health, HR, marketing, news, personal, productivity,
            shopping, social, sports, travel and utilities.</b></p>
    <p>CHATBOT framework means <b>the past, present and future content of a software and the related functionality,
            technology, product and service developed by {{ company }}, including but not limited to the design and
            structure, texts, images, photographs, illustrations, compilations, graphic material, broadcasts,
            advertising slogans, databases, proprietary information, all elements of the Chatbot Solution protected by
            copyright or other right (including source and object codes) and all other material that can be linked to
            {{ company }} and our Chatbots and CHEQ itself, the arrangement, choice and sequence of the elements within
            the
            chatbot solution, the main characteristics of the design, all trademarks, protected services, company name,
            logos, domain names, patents and all intellectual products which are protected by copyright and proprietary
            rights and are the property of {{ company }};</b></p>

    <p><b>CHEQ means a special Chatbot Solution tailor made primarily for supporting the communication of internal
            circles (such as B2B communication, employee communication) developed by {{ company }} and operating on
            different Platforms;</b></p>

    <p><b>{{ company }}</b><b> means an innovative start-up chatbot service provider, the sole owner and
            operator of its developed Chatbot Solutions, Website: </b><a href="{{ website }}">{{ website }}</a><b>;
            E-mail: </b><a
                href="mailto:{{ email }}">{{ email }}</a></p>

    <p><b>User</b><b> means all individuals who interacts with </b>our chatbots directly or
        indirectly any of the available Platforms, either using their e-mail address<b>, phone number or social
            network profile;</b></p>
    <p>ADMIN USER means those individuals using the admin surface of our Chatbot Solutions who are oversees admin tasks
        as regards our chatbot solutions;</p>

    <p><b>Platform</b><b> means the interface environment where Users can use our chatbots and can have a
            look at the Content, such as Viber, Messenger, WhatsApp, Telegram or web widget;</b></p>
    <p>DATA means information or Content uploaded, posted, transmitted or otherwise made available by Users or for the
        purpose of operating our chatbots by Customers, via our chatbots, including messages, files, comments, custom
        texts written by Users, profile information, username, metadata and token data, avatar, country, language,
        contact information, phone number, e-mail address, individual ID, internal ID, position, workplace given by our
        Users;</p>

    <p><b>Content</b><b> means the entire chatbot and </b>all of the information, text, graphics,
        images, music, software, audio, video, works of authorship of any kind, and information or other materials that
        are posted, generated, provided or otherwise made available through chatbots;</p>

    <p><b>GDPR FLOW means the opening Content and introduction steps together with the applicable privacy policy
            and all information about how the personal data is managed and controlled while using our Chatbots made
            available on the Platform. Users must provide their consent – which is any freely given, specific, informed
            and unambiguous indication of the data subject’s wishes by which he or she, by a statement or by a clear
            affirmative action, signifies agreement to the processing of personal data relating to him or her – to the
            processing of personal data as well as Users must be provided the relevant privacy policy when start using
            our Chatbots; from time to time Users will be informed about any updates as for the relevant privacy
            policy.</b></p>

    <h2>2. General Terms for using our chatbots</h2>

    <h3>2.1. The way of using our chatbots:</h3>
    <ul>
        <li><b>{{ company }} provides Users with access to Chatbot Solution; </b></li>
        <li>when start using our chatbots, Users are informed about the policies that are relevant using chatbots,
            including processing of personal data;
        </li>
        <li><b>{{ company }} reserve the right to deny access to chatbots and remove Content without
                undertaking any obligation in this respect;</b></li>
        <li><b>{{ company }} reserve the right to update the Terms of Services and all </b>applicable policies at
            any time by amending this page <b>as our Chatbot Services are</b> still evolving, and so we need
            flexibility to occasionally make changes to our chatbot solutions in order to <b>expand, improve and
                develop our services</b>. <b>{{ company }}</b> will try to give notice of these changes, but
            please check this page and visit the most current versions of the other pages that are related to the
            chatbot Users are using from time to time to take notice of any changes, as they are binding on you. It is
            also worth to follow our social media accounts and pages for updates;
        </li>
        <li><b>{{ company }} reserves the right to update the </b>applicable privacy policy of the
            chatbot at any time by amending the GDPR Flow of the chatbot being used; Users will be informed about such
            changes as updated policies must be accepted before continue using the chatbots.
        </li>
    </ul>

    <h3>2.2. In case of CHEQ, the following additional conditions are applicable:</h3>
    <ul>
        <li><b>Admin Users sign in the Platform with the password given; to change the password is suggested upon
                first signing in to CHEQ; </b></li>
        <li><b>Admin Users can change their Avatars from the offered set;</b></li>
    </ul>

    <h3>2.3. By accepting these Terms of Use the Users:</h3>
    <ul>
        <li><b>may only use the chatbots for the purposes permitted by the Terms of Service;</b></li>
        <li><b>grant {{ company }} the right to use any content that they submit via the chatbots as
                necessary for {{ company }} to provide the service to Users;</b></li>
        <li><b>expressly consents to being sent service communications and administrative messages – to the contact
                details which was given by the Users upon registration – related to the use of chatbot;</b></li>
        <li><b>consent that {{ company }} may handle through the chatbots their personal data given
                by Users or absolutely essential for the operation of the functions of the chatbot;</b></li>
        <li><b>are not granted the right to use images, signs, logos, brands or emblems used in the
                chatbot.</b></li>
    </ul>

    <h3>2.4. Users:</h3>
    <ul>
        <li><b>are not entitled to change, let, lease, lend, sell, divide or decrypt in whole or in part the
                chatbot solution or information learnt while using it;</b></li>
        <li><b>may not carry out any activity that may interfere with the chatbot solution (or with the servers and
                networks which convey information during use and/or are connected with the chatbot);</b></li>
        <li><b>do not acquire the right to copy, distribute, sell or lease parts of the chatbot solution belonging
                to {{ company }};</b></li>
        <li><b>are not entitled to decrypt the chatbot solution or attempt to obtain or</b> otherwise derive
            source code, trade secrets, or know-how or any portion thereof;
        </li>
        <li><b>do not acquire any intellectual property right or the content accessible on and originating from
                chatbot;</b></li>
        <li><b>are not entitled to </b>work around any technical limitations of the chatbot;</li>
        <li><b>are not entitled to </b>modify, reverse engineer or otherwise alter the chatbot;</li>
        <li><b>are not entitled to </b>use the bot in any way prohibited by law, regulation, governmental
            order or decree;
        </li>
        <li>are prohibited from using the bot to defame, abuse, harass, stalk, threaten, or otherwise violate the legal
            rights (such as rights of privacy and publicity) of others;
        </li>
        <li><b>are not entitled to </b>engage in activity that is false or misleading or that is harmful to
            others (including children), or the chatbot;
        </li>
        <li><b>are not entitled to</b> share inappropriate content, advertising, spam, spyware or malware;
        </li>
        <li><b>are not entitled to </b>gain (or attempt to gain) unauthorized access to any service, data,
            account or network by any means; Infringe upon the rights of others;
        </li>
        <li><b>are not entitled to u</b>se the chatbot anywhere other than the Platform where the chatbot has
            been made available, unless the bot publisher has enabled such uses;
        </li>
        <li><b>are not entitled to r</b>emove, modify, or tamper with any notice or link that is incorporated
            into the bot;
        </li>
        <li>are prohibited from degrading or compromising security in any way;</li>
        <li>are prohibited from including misleading statements about chatbot functionality, performance, origin or Data
            use;
        </li>
        <li>are prohibited from transmitting any viruses or other code that may damage, detrimentally interfere with,
            surreptitiously intercept or expropriate any system or Data.
        </li>
    </ul>

    <h3>2.5. The User takes note of the following:</h3>
    <ul>
        <li>Users are responsible for maintaining the privacy and security of their account;</li>
        <li>{{ company }} will not be held liable for any damage or loss that may result from Users
            failure
            to protect their login information, including yur password;
        </li>
        <li><b>if while using the chatbot the personal data of a third party is recorded, obtaining the consent
                required for that person’s data to be processed and to be transferred to the chatbot is Users
                responsibility;</b></li>
        <li><b>{{ company }} is typically the data processor to process data on behalf
                of;</b></li>
        <li><b>the staff of {{ company }} engaged in the operation of the chatbot and providing the
                services available through the chatbot may learn Users personal data provided it is absolutely necessary
                in order to achieve the purpose of the use of the data;</b></li>
        <li><b>data handling is voluntary; the legal basis for processing personal data is the voluntary consent of
                the Users under GDPR, further information is available in our <a
                        href="{{ path('app.site_privacy_policy') }}" target="_blank" rel="noopener"><u>Privacy
                        Policy</u></a>;</b>
        </li>
        <li><b>in order to operate some functions of the chatbot, we work together with third parties and external
                service providers, as it is essential for Users personal data to be transmitted to or used via these
                parties to the extent and for the time necessary for the functions to operate.</b></li>
    </ul>

    <h3>2.6. {{ company }} is responsible for:</h3>
    <ul>
        <li><b>providing and supporting services;</b></li>
        <li>making the chatbot solutions available to Users;
        </li>
        <li>not using or processing Personal Data for any purpose without Users’ instructions;
        </li>
        <li>using commercially reasonable efforts to make the Chatbot Solutions available 24 hours a day, 7 days a week,
            excluding planned downtime;
        </li>
        <li>doing its best for security and data protection.</li>
    </ul>

    <h2>3. Security and Data Protection</h2>

    <p>While providing a high-quality user experience, security and data protection has always been a high priority for
        {{ company }}. For the purpose of maintaining a private, confidential and safe chatbot environment, we shall
        take
        the reasonable administrative, physical, and technical safeguards, such as measures for preventing unauthorized
        access, use, modification, deletion and disclosure of Personal Data.</p>
    <p>We aim to choose our partners who can ensure maintaining similar security and data protection practices. However,
        we are not able to cover every aspect of safeguarding our chatbots. For example, Users are
        responsible for their own adequate security and protection measures when they are in the possession or control
        of personal data. Protecting data must be essential for everyone. We are not responsible for Users
        bad data stewardship practices, network and
        the operating system and software of their web servers, databases, and computer systems, proper configuration,
        secure operation and storage.</p>
    <p>Anyway, to protect Users and our Chatbot Services, {{ company }} reserves the right to take any action it deems
        necessary if anything violates the secure operation for the chatbots.</p>

    <p><b>{{ company }} aims to minimize the scope of requested and used data only to those ones which is required and
            appropriate for our chatbots functional operating. We warn Users not t</b>o provide sensitive, private,
        and confidential personal information, such as credit card numbers or passwords unless they are specifically
        necessary for the legitimate function of the chatbot. {{ company}} inform Users about how their
        data is used and provide public and easy access to the applicable privacy policy which explaines clearly how the
        chatbot collects, uses, processes and stores Data, and what control Users have over their Data. This is what
        GDPR Flow is for. A few additional information – on how we collect and use data relating to our websites and
        chatbot solutions – are defined in the policies available at the website of {{ company }}. Please have a look at
        them.</p>
    <p><b>In the course of operating the chatbots, {{ company }} could handle the following data and the
            chatbots may access the following functions of the device (such as mobile phone, iPad, computer) Users are
            using chatbots:</b></p>
    <ul>
        <li><b>In case of Viber or Telegram: name; including viber Username, Avatar, Country, Language, Poll votes, Uploaded
                Videos, Uploaded images, Custom texts written by users, user events defined by Viber;</b></li>
        <li><b>In case of messenger: user identifier;</b></li>
        <li><b>e-mail address; </b></li>
        <li><b>personal data featured in the e-mail text;</b></li>
        <li><b>phone number;</b></li>
        <li><b>data of contact persons;</b></li>
        <li><b>Facebook, Google+ or Addressbook identifier;</b></li>
        <li><b>device identifier;</b></li>
        <li><b>GPS data for actual position, cell information;</b></li>
        <li><b>profile picture;</b></li>
        <li>&nbsp;</li>
    </ul>

    <h2>4. Licence</h2>

    <p>Subject to the restrictions below, {{ company }} provides the chatbot <b>for non-commercial,
            non-exclusive, </b>non-transferable, <b>restricted personal use and the chatbot may be used for no
            other purpose without the prior written consent of the </b>{{ company }}<b>. Users agree to satisfy
            all copyright requirements, information and restrictions which may be found in any part of
            the </b>chatbot<b>.
            The User may not alter, delete or mask any copyright mark, trademark, patent or similar mark in
            the </b>chatbot<b>, including in downloadable, forwarded, presented or printed parts of
            the </b>chatbot <b>or parts reproduced by any other means. </b>Users agree not
        to resell, duplicate, reproduce or exploit any part of the chatbot unless {{ company }} has provided and express
        written permission to do so.</p>

    <p>All rights not expressly granted by this Terms of Service are hereby retained.</p>

    <h2>5. General Conditions</h2>

    <p>Chatbots are provided <em>“</em><em>as is</em>” and “<em>as available</em><em>” </em>with no representations or
        warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of
        merchantability, fitness for a particular purpose, and non-infringement. {{ company }} makes no warranties
        regarding</p>
    <p>(i) Users’ ability to use the chatbot,</p>
    <p>(ii) Users’ satisfaction with the chatbot,</p>
    <p>(iii) that the chatbot will be available at all times, uninterrupted, and error-free, and</p>
    <p>(iv) that bugs or errors in the chatbot will be corrected immediately.</p>
    <p>{{ company }} is neither responsible nor liable for any direct, indirect, incidental, consequential, special,
        exemplary, punitive or other damages arising out of or relating in any way to your use of the chatbot. Users are
        in the position to remedy their dissatisfaction with the chatbot is to stop using it.</p>
    <p>Users agree</p>
    <p>(i) not to act in a way that risks damaging, deactivating, or overloading our Chatbot Solutions and its
        infrastructure;</p>
    <p>(ii) not to distribute anything containing a computer virus or any code, file or software program intended to
        interrupt, destroy or limit the functionality of the chatbot or its infrastructure.</p>
    <p>Content and Users shall be removed in case {{ company }} determine in their sole discretion they
        are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or
        violates any party’s intellectual property or these <b>Terms of Service</b>.</p>

    <h2>6. Severability</h2>

    <p>If any provision or part of this Agreement is held to be illegal, invalid or unenforceable in whole or in part,
        under any applicable laws, such provision or part will be deemed not to form part of this Agreement, but the
        legality, validity and enforceability of the remainder of this Agreement will not be affected.</p>

    <h2>7. Waiver</h2>

    <p>No failure, delay or partial exercise on the part of either Party hereto of any right or remedy under this
        Agreement shall be construed or operate as a waiver hereof unless made in writing signed by the waiving party
        and such waiver shall be effective only with respect to the specific obligation described. The waiver by either
        Party of a breach of any provision of this Agreement by the other Party shall not operate or be construed as a
        waiver of any subsequent breach of the same provision or another provision of this Agreement. The rights and
        remedies provided in this Agreement are cumulative and are not exclusive of any rights or remedies provided by
        law.</p>

    <h2>8. Limitation of liability</h2>

    <p><b>The limitation of liability indicated above applies to:</b></p>
    <p><b>(i) anything related to the Chatbot and Chatbot Services;</b></p>
    <p><b>(ii) claims for breach of contract, warranty, guarantee, or condition; strict liability, negligence, or
            other tort; violation of a statute or regulation; unjust enrichment; or under any other theory; all to the
            extent permitted by applicable law;</b></p>
    <p><b>(iii) cases when such remedy doesn’t fully compensate for all losses.</b></p>

    <h2>9. Force Majeure</h2>

    <p>{{ company }} will be liable by reason of any failure or delay in the performance of
        its
        obligations on account of events beyond the reasonable control of a party, which may include denial-of-service
        attacks, a failure by a third party hosting provider or utility provider, strikes, shortages, riots, fires, acts
        of God, war, terrorism, and governmental action.</p>

    <h2>10. Assignment</h2>

    <p>Neither party may assign or delegate any of its rights or obligations hereunder, whether by operation of law or
        otherwise, without the prior written consent of the other party. In case of breaching this section, the
        non-assigning party is entitled to terminate the contract between the Parties upon written notice to the
        assigning party. Subject to the foregoing, the Contract and these Terms of Service will bind and inure to the
        benefit of the parties, their respective successors and permitted assigns.</p>

    <h2>11. Third Party Products, External Service Providers</h2>

    <p>{{ company }}’s Chatbot Services include Platforms that third parties may use to develop applications and
        software.
        However, such third-party products provide additional user experience and extra functions, please also bear in
        mind that these external parties have access to any Data that will be shared. As these are not our services, we
        do not warrant or support third party products and external service providers’ activities, {{ company }} will
        not
        be responsible for any use, disclosure, modification or deletion of Data that is transmitted to, or accessed by,
        a third party and its product, ultimately Users will decide whether or not to use them. In case
        Users decide to enable them, they are solely responsible for any such use of third-party products
        via external service providers. {{ company }} shall have no liability in any way for the conduct of third
        parties’
        (so in particular, but not exclusively: Telegram, Viber, Facebook, other applications, Customers, Users) public Platform
        that serves as a user interface for accessing the Chatbot Service or any change in their policies. {{ company }}
        shall not be liable in any manner for the conduct of third parties (such as utilization and processing of the
        data by the Client, Users’ act while using our chatbots).</p>

    <p><b>Such External Service Providers are for example:</b></p>
    <p><b>Facebook Ireland Ltd. Hanover Reach, 5-7 Hanover Quay, Dublin 2 Ireland, a company registered in Ireland
            under number 462932 (Facebook: Logging in, searching for/inviting friends and sharing)</b></p>
    <p><b>Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, United States of America) Google+:
            Logging in, searching for/inviting friends and sharing; Google Push Notification server; Google maps server;
            Google Play Services;</b></p>
    <p><b>Apple Inc. (1 Infinite Loop, Cupertino, California, USA, 95014) Apple GameCenter; Apple maps; Apple Push
            Notification server;</b></p>
    <p><b>Viber Media S.à r.l., Attention: Data Privacy Officer, 2, rue du Fossé, L- 1536 Luxembourg, Grand Duchy
            of Luxembourg.</b></p>
    <p><b>Microsoft Corporation: Microsoft Headquarters One Microsoft Way Redmond, WA 98052, USA</b></p>

    <h2>12. Governing law</h2>

    <p>This Agreement shall be governed and construed in accordance with the laws of Ukraine and any legal action or
        proceeding with respect to this Agreement shall be brought in Ukraine Courts.</p>
{% endblock %}