{% extends 'site.terms_of_use.en.html.twig' %}

{% block content %}
    <p><b>Последнее обновление: 27 июля 2023 г.</b></p>
    <p>Эти условия использования представляют собой юридически обязывающее соглашение и описывают ваши права и
        ответственности при использовании наших решений для чат-ботов.</p>
    <p><b>Не приняв настоящие Условия использования, мы сожалеем, но вы не имеете права использовать наши
            чат-боты.</b></p>
    <p>Используя и получая доступ к нашим чат-ботам, вы <b>обязаны согласиться</b>:</p>
    <ул>
    <li><b>настоящие Условия предоставления услуг и</b></li>
    <li><b>применимую <a href="{{ path('app.site_privacy_policy') }}">политику конфиденциальности</a>.</b></li>
    </ul>
    <p>В случае индивидуальных решений для чат-ботов правила и политики наших клиентов (такие как условия использования,
        политика конфиденциальности) также являются обязательными условиями.</p>

    <p>Принимая эти условия, вы подтверждаете, что они достигли совершеннолетия в стране, где вы живете или
        проживать; в противном случае ваше согласие действительно только с одобрения вашего законного представителя,
        которое должно быть
        полученные до начала использования наших Решений для чат-ботов.</p>

    <h2>1. В настоящих Условиях использования применяются следующие определения</h2>

    <p><b>Условия использования</b><b> – самая последняя версия этого документа на момент использования нашего
            чат-боты;</b></p>

    <p><b>CHATBOT и/или CHATBOT SOLUTION – диалоговая программа с искусственным интеллектом,
            диалог один на один с помощью аудиальных или экстуальных методов. Такие программы часто разрабатываются для
            того, чтобы убедительно
            смоделировать поведение человека в качестве собеседника. Чат-боты обычно используются в диалоговых системах.
            для различных практических целей, включая обслуживание клиентов или сбор информации. Сегодня большинство
            чат-ботов
            доступны через приложения для обмена сообщениями, такие как Facebook Messenger, Telegram Messenger или
            Rakuten Viber, или через
            индивидуальный
            приложения и веб-сайты организаций (веб-виджеты). Чат-боты можно разделить на категории использования, такие
            как
            разговорная коммерция (электронная коммерция через чат), аналитика, общение, поддержка клиентов, дизайн,
            разработчик
            инструменты, образование, развлечения, финансы, еда, игры, здоровье, управление персоналом, маркетинг,
            новости, личное, продуктивность,
            магазины, социальные сети, спорт, путешествия и коммунальные услуги.</b></p>
    <p>Структура CHATBOT означает <b>прошлое, настоящее и будущее содержимое программного обеспечения и связанных с ним
            функций,
            технологии, продукты и услуги, разработанные {{ contacts.botName }}, включая, помимо прочего, дизайн и
            состав, тексты, изображения, фотографии, иллюстрации, сборники, графический материал, трансляции,
            рекламные слоганы, базы данных, конфиденциальная информация, все элементы Решения для чат-ботов, защищенные
            авторское право или другое право (включая исходный и объектный коды) и все другие материалы, которые могут
            быть связаны с
            {{ contacts.botName }} и наши чат-боты и сам CHEQ, расположение, выбор и последовательность элементов внутри
            в
            решение для чат-бота, основные характеристики дизайна, все торговые марки, защищенные сервисы, название
            компании,
            логотипы, доменные имена, патенты и все интеллектуальные продукты, защищенные авторским правом и
            собственностью.
            права и являются собственностью {{ contacts.botName }};</b></p>

    <p><b>CHEQ — специальное решение для чат-ботов, предназначенное в первую очередь для поддержки
            круги (такие как общение B2B, общение сотрудников), разработанные {{ contacts.botName }} и работающие на
            разные платформы;</b></p>

    <p><b>{{ contacts.botName }}</b><b> означает инновационного начинающего поставщика услуг чат-бота, единственного
            владельца и
            оператор разработанных ею решений для чат-ботов, веб-сайт: </b><a
                href="{{ contacts.website }}">{{ contacts.website }}</a><b>;
            Электронная почта: </b><a
                href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>

    <p><b>Пользователь</b><b> означает всех лиц, взаимодействующих с </b>нашими чат-ботами напрямую или
        косвенно с любой из доступных Платформ, используя их адрес электронной почты<b>, номер телефона или социальные
            сети.
            сетевой профиль;</b></p>
    <p>ПОЛЬЗОВАТЕЛЬ-АДМИНИСТР — это лица, использующие административную поверхность наших Решений для чат-ботов и
        отвечающие за административные задачи.
        что касается наших решений для чат-ботов;</p>

    <p><b>Платформа</b><b> означает среду интерфейса, в которой Пользователи могут использовать наши чат-боты и могут
            иметь
            просмотреть Контент, такой как Viber, Messenger, WhatsApp, Telegram или веб-виджет;</b></p>
    <p>ДАННЫЕ означают информацию или Контент, загруженные, опубликованные, переданные или иным образом предоставленные
        Пользователями или для
        цель использования наших чат-ботов Клиентами через наши чат-боты, включая сообщения, файлы, комментарии,
        пользовательские
        тексты, написанные Пользователями, информация профиля, имя пользователя, метаданные и данные токена, аватар,
        страна, язык,
        контактная информация, номер телефона
        er, адрес электронной почты, индивидуальный идентификатор, внутренний идентификатор, должность, рабочее место,
        предоставленное нашим
        Пользователи;</p>

    <p><b>Контент</b><b> означает весь чат-бот и </b>вся информация, текст, графика,
        изображения, музыка, программное обеспечение, аудио, видео, авторские работы любого рода, а также информация или
        другие материалы, которые
        публикуются, генерируются, предоставляются или иным образом становятся доступными через чат-ботов;</p>

    <p><b>GDPR FLOW означает начальное содержание и вводные этапы вместе с применимой политикой конфиденциальности.
            и вся информация о том, как персональные данные управляются и контролируются при использовании наших
            чат-ботов,
            доступны на Платформе. Пользователи должны дать свое согласие – любое свободно данное, конкретное,
            информированное
            и недвусмысленное указание на пожелания субъекта данных, с которыми он или она, заявлением или четким
            позитивное действие, означает согласие на обработку относящихся к нему персональных данных –
            обработке персональных данных, а также Пользователям должна быть предоставлена соответствующая политика
            конфиденциальности при начале использования
            наши чат-боты; время от времени Пользователи будут проинформированы о любых обновлениях, касающихся
            соответствующей конфиденциальности
            политика.</b></p>

    <h2>2. Общие условия использования наших чат-ботов</h2>

    <h3>2.1. Способ использования наших чат-ботов:</h3>
    <ул>
    <li><b>{{ contacts.botName }} предоставляет Пользователям доступ к Решению для чат-ботов; </b></li>
    <li>при начале использования наших чат-ботов Пользователи информируются о политиках, применимых к использованию
        чат-ботов,
        в том числе обработка персональных данных;
    </li>
    <li><b>{{ contacts.botName }} оставляет за собой право отказывать в доступе к чат-ботам и удалять Контент без
            принятие на себя каких-либо обязательств в этом отношении;</b></li>
    <li><b>{{ contacts.botName }} оставляет за собой право обновлять Условия предоставления услуг и все </b>применимые
        политики по адресу
        в любое время, внеся изменения на эту страницу, <b>поскольку наши службы чат-ботов</b> все еще развиваются, и
        поэтому нам необходимо
        возможность время от времени вносить изменения в наши решения для чат-ботов с целью <b>расширения, улучшения и
            развивать наши услуги</b>. <b>{{ contacts.botName }}</b> попытается уведомить об этих изменениях, но
        пожалуйста, проверьте эту страницу и посетите самые последние версии других страниц, связанных с
        Чат-бота Пользователи используют время от времени для уведомления о любых изменениях, так как они являются
        обязательными для вас. Это
        также стоит следить за нашими учетными записями и страницами в социальных сетях для получения обновлений;
    </li>
    <li><b>{{ contacts.botName }} оставляет за собой право обновлять </b>применимую политику конфиденциальности
        чат-бот в любое время путем внесения изменений в GDPR Flow используемого чат-бота; Пользователи будут
        проинформированы о таких
        изменения, поскольку обновленные политики должны быть приняты, прежде чем продолжить использование чат-ботов.
    </li>
    </ul>

    <h3>2.2. В случае CHEQ применяются следующие дополнительные условия:</h3>
    <ул>
    <li><b>Пользователи-администраторы входят в Платформу с указанным паролем; изменить пароль предлагается после
            первый вход в CHEQ; </b></li>
    <li><b>Пользователи-администраторы могут менять свои аватары из предложенного набора;</b></li>
    </ul>

    <h3>2.3. Принимая настоящие Условия использования, Пользователи:</h3>
    <ул>
    <li><b>может использовать чат-ботов только в целях, разрешенных Условиями предоставления услуг;</b></li>
    <li><b>предоставить {{ contacts.botName }} право использовать любой контент, который они отправляют через чат-ботов,
            в качестве
            необходимо {{ contacts.botName }} для предоставления услуги Пользователям;</b></li>
    <li><b>явно соглашается на отправку служебных сообщений и административных сообщений – контактному лицу
            данные, предоставленные Пользователями при регистрации – связанные с использованием чат-бота;</b></li>
    <li><b>согласие с тем, что {{ contacts.botName }} может обрабатывать переданные им личные данные через чат-ботов
            Пользователями или абсолютно необходимы для работы функций чат-бота;</b></li>
    <li><b>не предоставляется право использовать изображения, знаки, логотипы, бренды или эмблемы, используемые в
            чат-бот.</b></li>
    </ul>

    <h3>2.4. Пользователи:</h3>
    <ул>
    <li><b>не вправе изменять, сдавать в аренду, одалживать, продавать, делить или расшифровывать полностью или частично
            решение для чат-бота или информация, полученная при его использовании;</b></li>
    <li><b>запрещается выполнять какие-либо действия, которые могут помешать решению чат-бота (или серверам и
            сети, которые передают информацию во время использования и/или связаны с чат-ботом);</b></li>
    <li><b>не приобретать права копировать, распространять, продавать или сдавать в аренду части решения чат-бота,
            принадлежащие
            в {{ contacts.botName }};</b></li>
    <li><b>не имеют права расшифровывать решение чат-бота или пытаться получить или</b> иным образом
        выводить
        исходный код, коммерческая тайна или ноу-хау или любая их часть;
    </li>
    <li><b>не приобретать никаких прав на интеллектуальную собственность или содержание, доступное и происходящее из
            чат-бот;</b></li>
    <li><b>не имеют права </b>обходить технические ограничения чат-бота;</li>
    <li><b>не имеют права </b>модифицировать, реконструировать или иным образом изменять чат-бота;</li>
    <li><b>не имеют права </b>использовать бота каким-либо образом, запрещенным законом,
        приказ или указ;
    </li>
    <li>запрещается использовать бота для клеветы, оскорблений, беспокойства, преследования, угроз или иных нарушений
        правовых
        права (такие как права на неприкосновенность частной жизни и публичность) других лиц;
    </li>
    <li><b>не имеют права </b>заниматься деятельностью, которая является ложной, вводящей в заблуждение или наносит
        ущерб
        другие (включая детей) или чат-бот;
    </li>
    <li><b>не имеют права</b> распространять неприемлемый контент, рекламу, спам, шпионское или вредоносное ПО;
    </li>
    <li><b>не имеют права </b>получать (или пытаться получить) несанкционированный доступ к каким-либо службам, данным,
        учетная запись или сеть любым способом; нарушать права других лиц;
    </li>
    <li><b>не имеют права</b>использовать чат-бота где-либо, кроме Платформы, на которой чат-бот
        был сделан доступным, если только издатель бота не разрешил такое использование;
    </li>
    <li><b>не вправе удалять, изменять или подделывать какие-либо уведомления или ссылки, которые включены
            в бота;
    </li>
    <li>запрещено каким-либо образом ухудшать или нарушать безопасность;</li>
    <li>запрещается включать вводящие в заблуждение заявления о функциональности, производительности, происхождении или
        Данных чат-бота.
        использовать;
    </li>
    <li>запрещается передавать какие-либо вирусы или другой код, который может повредить, причинить вред,
        тайно перехватывать или экспроприировать любую систему или Данные.
    </li>
    </ul>

    <h3>2.5. Пользователь принимает к сведению следующее:</h3>
    <ул>
    <li>Пользователи несут ответственность за сохранение конфиденциальности и безопасности своей учетной записи;</li>
    <li>{{ contacts.botName }} не несет ответственности за любой ущерб или убытки, которые могут возникнуть в результате
        действий Пользователей.
        отказ
        для защиты своей информации для входа, включая ваш пароль;
    </li>
    <li><b>если при использовании чат-бота записываются персональные данные третьих лиц, получение согласия
            необходимые для обработки и передачи чат-боту данных этого лица — Пользователи.
            ответственность;</b></li>
    <li><b>{{ contacts.botName }} обычно является обработчиком данных для обработки данных от имени
            из;</b></li>
    <li><b>сотрудники {{ contacts.botName }}, занимающиеся эксплуатацией чат-бота и предоставляющие
            сервисы, доступные через чат-бот, могут узнавать персональные данные Пользователей, если это абсолютно
            необходимо
            для достижения цели использования данных;</b></li>
    <li><b>обработка данных является добровольной; правовым основанием для обработки персональных данных является
            добровольное согласие
            Пользователи в соответствии с GDPR, дополнительная информация доступна в нашем <a
                    href="{{ path('app.site_privacy_policy') }}" target="_blank" rel="noopener"><u>Конфиденциальность
                    Политика</u></a>;</b>
    </li>
    <li><b>для работы некоторых функций чат-бота мы сотрудничаем с третьими лицами и внешними
            поставщиков услуг, так как важно, чтобы личные данные Пользователей передавались или использовались через
            них.
            сторон в объеме и на время, необходимое для работы функций.</b></li>
    </ul>

    <h3>2.6. {{ contacts.botName }} отвечает за:</h3>
    <ул>
    <li><b>предоставление и поддержка услуг;</b></li>
    <li>предоставление Пользователям доступа к решениям для чат-ботов;
    </li>
    <li>не использовать и не обрабатывать Персональные данные в любых целях без инструкций Пользователей;
    </li>
    <li>прилагая коммерчески разумные усилия, чтобы Решения для чат-ботов были доступны 24 часа в сутки, 7 дней в
        неделю,
        исключение плановых простоев;
    </li>
    <li>делает все возможное для обеспечения безопасности и защиты данных.</li>
    </ul>

    <h2>3. Безопасность и защита данных</h2>

    <p>Несмотря на обеспечение высокого качества взаимодействия с пользователем, безопасность и защита данных всегда
        были одним из главных приоритетов для
        {{ contacts.botName }}. В целях поддержания частной, конфиденциальной и безопасной среды чат-бота мы
        брать
        разумные административные, физические и технические гарантии, такие как меры по предотвращению
        несанкционированного
        доступ, использование, изменение, удаление и раскрытие Персональных данных.</p>
    <p>Мы стремимся выбирать наших
        rtners, которые могут обеспечить соблюдение аналогичных методов безопасности и защиты данных. Однако,
        мы не можем охватить все аспекты защиты наших чат-ботов. Например, пользователи
        несут ответственность за собственные надлежащие меры безопасности и защиты, когда они находятся во владении или
        под контролем
        персональных данных. Защита данных должна быть важна для всех. Мы не несем ответственности за Пользователей
        плохие методы управления данными, сеть и
        операционная система и программное обеспечение их веб-серверов, баз данных и компьютерных систем, правильная
        конфигурация,
        безопасная работа и хранение.</p>
    <p>В любом случае, для защиты Пользователей и наших Служб чат-ботов, {{ contacts.botName }} оставляет за собой право
        предпринимать любые действия, которые сочтет нужными.
        необходимо, если что-либо нарушает безопасную работу чат-ботов.</p>

    <p><b>{{ contacts.botName }} стремится свести объем запрашиваемых и используемых данных только к тем, которые
            необходимы и
            подходит для работы наших чат-ботов. Мы предупреждаем Пользователей, чтобы они не предоставляли
            конфиденциальные, личные,
            и конфиденциальную личную информацию, такую как номера кредитных карт или пароли, если только они не
            необходимые для законной работы чат-бота. {{ contacts.botName }} информирует Пользователей о том, как их
            данные используются и обеспечивают публичный и легкий доступ к применимой политике конфиденциальности,
            которая четко объясняет, как
            чат-бот собирает, использует, обрабатывает и хранит Данные, а также то, какой контроль Пользователи имеют
            над своими Данными. Это то, что
            GDPR Flow предназначен для. Немного дополнительной информации – о том, как мы собираем и используем данные,
            относящиеся к нашим веб-сайтам и
            решения для чат-ботов — определены в политиках, доступных на веб-сайте {{ contacts.botName }}. Пожалуйста,
            взгляните на
            их.</p>
    <p><b>В ходе работы с чат-ботами {{ contacts.botName }} мог обрабатывать следующие данные и
            чат-боты могут получить доступ к следующим функциям устройства (например, мобильного телефона, iPad,
            компьютера).
            с помощью чат-ботов:</b></p>
    <ул>
    <li><b>В случае Viber или Telegram: имя; включая имя пользователя viber, аватар, страну, язык, голоса в опросе,
            загруженные
            Видео, Загруженные изображения, Пользовательские тексты, написанные пользователями, пользовательские
            события, определенные Viber;</b></li>
    <li><b>В случае мессенджера: идентификатор пользователя;</b></li>
    <li><b>адрес электронной почты; </b></li>
    <li><b>личные данные, указанные в тексте электронного письма;</b></li>
    <li><b>номер телефона;</b></li>
    <li><b>данные контактных лиц;</b></li>
    <li><b>идентификатор Facebook, Google+ или адресной книги;</b></li>
    <li><b>идентификатор устройства;</b></li>
    <li><b>Данные GPS для фактического положения, информация о сотовой связи;</b></li>
    <li><b>фото профиля;</b></li>
    <li>&nbsp;</li>
    </ul>

    <h2>4. Лицензия</h2>

    <p>С учетом приведенных ниже ограничений {{ contacts.botName }} предоставляет чат-бота <b>для некоммерческих,
            неисключительное, </b>не подлежащее передаче, <b>ограниченное личное использование, а чат-бот может
            использоваться без каких-либо
            для других целей без предварительного письменного согласия </b>{{ contacts.botName }}<b>. Пользователи
            соглашаются удовлетворить
            все требования об авторском праве, информацию и ограничения, которые можно найти в любой части
        </b>чат-бот<b>.
            Пользователь не может изменять, удалять или маскировать любой знак авторского права, товарный знак, патент
            или аналогичный знак в
        </b>чат-бот<b>, в том числе в загружаемых, пересылаемых, представленных или печатных частях
        </b>чат-бот <b>или его части, воспроизведенные любым другим способом. </b>Пользователи соглашаются не
        перепродавать, дублировать, воспроизводить или эксплуатировать любую часть чат-бота, если {{ contacts.botName }}
        не предоставил и не выразил
        письменное разрешение на это.</p>

    <p>Все права, прямо не предоставленные настоящими Условиями использования, настоящим сохраняются.</p>

    <h2>5. Общие условия</h2>

    <p>Чат-боты предоставляются <em>”</em><em>как есть</em>” и “<em>как доступно</em><em>” </em>без каких-либо
        представлений или
        гарантии любого рода, явные или подразумеваемые, включая, помимо прочего, подразумеваемые гарантии
        пригодность для продажи, пригодность для конкретной цели и ненарушение прав. {{ contacts.botName }} не дает
        никаких гарантий
        относительно</p>
    <p>(i) возможность пользователей использовать чат-бот,</p>
    <p>(ii) удовлетворенность пользователей чат-ботом,</p>
    <p>(iii) чат-бот будет доступен в любое время, бесперебойно и безошибочно, и</p>
    <p>(iv) ошибки или ошибки в чат-боте будут немедленно исправлены.</p>
    <p>{{ contacts.botName }} не несет ответственности за любые прямые, косвенные, случайные, косвенные, специальные,
        примерный, штрафной или иной ущерб, вытекающий из или каким-либо образом связанный с использованием вами
        чат-бота. Пользователи
        в состоянии исправить их неудовлетворенность чат-ботом, чтобы прекратить его использовать.</p>
    <p>Пользователи соглашаются</p>
    <p>(i) нет
        действовать таким образом, который может привести к повреждению, деактивации или перегрузке наших Решений для
        чат-ботов и их
        инфраструктура;</p>
    <p>(ii) не распространять что-либо, содержащее компьютерный вирус или любой код, файл или программу, предназначенную
        для
        прерывать, уничтожать или ограничивать функциональность чат-бота или его инфраструктуры.</p>
    <p>Контент и Пользователи должны быть удалены в случае, если {{ contacts.botName }} решит по своему усмотрению, что
        они
        являются незаконными, оскорбительными, угрожающими, клеветническими, клеветническими, порнографическими,
        непристойными или иным образом нежелательными или
        нарушает интеллектуальную собственность какой-либо стороны или настоящие <b>Условия использования</b>.</p>

    <h2>6. Делимость</h2>

    <p>Если какое-либо положение или часть настоящего Соглашения будет признано незаконным, недействительным или не
        имеющим исковой силы полностью или частично,
        в соответствии с любым применимым законодательством такое положение или его часть будет считаться не составной
        частью настоящего Соглашения, а
        законность, действительность и применимость остальной части настоящего Соглашения не будут затронуты.</p>

    <h2>7. Отказ</h2>

    <p>Никакое неисполнение, задержка или частичное осуществление любой из Сторон любого права или средства правовой
        защиты в соответствии с настоящим
        Соглашение должно толковаться или действовать как отказ от настоящего Соглашения, если оно не сделано в
        письменной форме за подписью отказывающейся стороны.
        и такой отказ действует только в отношении описанного конкретного обязательства. Отказ от любого
        Сторона нарушения любого положения настоящего Соглашения другой Стороной не должна действовать или толковаться
        как
        отказ от любого последующего нарушения того же положения или другого положения настоящего Соглашения. Права и
        средства правовой защиты, предусмотренные в настоящем Соглашении, являются кумулятивными и не исключают
        каких-либо прав или средств правовой защиты, предоставляемых
        закон.</p>

    <h2>8. Ограничение ответственности</h2>

    <p><b>Указанное выше ограничение ответственности распространяется на:</b></p>
    <p><b>(i) все, что связано с чат-ботом и службами чат-бота;</b></p>
    <p><b>(ii) претензии в связи с нарушением контракта, гарантии или условия; строгая ответственность, небрежность или
            другие правонарушения; нарушение закона или постановления; неосновательное обогащение; или по любой другой
            теории; все к
            степени, разрешенной применимым законодательством;</b></p>
    <p><b>(iii) случаи, когда такое средство правовой защиты не полностью компенсирует все убытки.</b></p>

    <h2>9. Форс-мажор</h2>

    <p>{{ contacts.botName }} будет нести ответственность за любой сбой или задержку в выполнении
        его
        обязательства в связи с событиями, находящимися вне разумного контроля стороны, которые могут включать отказ в
        обслуживании
        атаки, сбой стороннего хостинг-провайдера или поставщика коммунальных услуг, забастовки, дефицит, беспорядки,
        пожары, действия
        Бога, войны, терроризма и действий правительства.</p>

    <h2>10. Назначение</h2>

    <p>Ни одна из сторон не может переуступать или делегировать какие-либо из своих прав или обязательств по настоящему
        Соглашению, будь то в силу закона или
        в противном случае без предварительного письменного согласия другой стороны. В случае нарушения этого раздела
        Сторона, не передающая договор, вправе расторгнуть договор между Сторонами, направив письменное уведомление
        назначающая сторона. С учетом вышеизложенного, Контракт и настоящие Условия обслуживания будут иметь
        обязательную силу для
        в интересах сторон, их соответствующих правопреемников и разрешенных правопреемников.</p>

    <h2>11. Сторонние продукты, внешние поставщики услуг</h2>

    Службы чат-ботов <p>{{ contacts.botName }} включают Платформы, которые третьи стороны могут использовать для
        разработки приложений и
        программное обеспечение.
        Однако такие сторонние продукты обеспечивают дополнительный пользовательский интерфейс и дополнительные функции,
        пожалуйста, имейте в виду
        помните, что эти внешние стороны имеют доступ к любым Данным, которые будут переданы. Поскольку это не наши
        услуги, мы
        не гарантирует и не поддерживает продукты третьих лиц и действия внешних поставщиков
        услуг, {{ contacts.botName }} будет
        нет
        нести ответственность за любое использование, раскрытие, изменение или удаление Данных, которые передаются или к
        которым осуществляется доступ,
        третьим лицом и его продуктом, в конечном итоге Пользователи сами решают, использовать их или нет. В случае
        Пользователи решают включить их, они несут единоличную ответственность за любое такое использование сторонних
        продуктов.
        через внешних поставщиков услуг. {{ contacts.botName }} не несет никакой ответственности за поведение третьих
        стороны'
        (в частности, но не исключительно: Telegram, Viber, Facebook, другие приложения, клиенты, пользователи)
        общедоступная платформа
        который служит пользовательским интерфейсом для доступа к службе чат-ботов или любых изменений в их
        политиках. {{ contacts.botName }}
        не несет никакой ответственности за действия третьих лиц (такие как использование и обработка
        данные Клиента, действия Пользователей при использовании наших чат-ботов).</p>

    <p><b>Такими внешними поставщиками услуг являются, например:</b></p>
    <p><b>Facebook Ireland Ltd. Ганновер Рич, 5-7
            Hanover Quay, Dublin 2 Ireland, компания, зарегистрированная в Ирландии
            под номером 462932 (Facebook: вход, поиск/приглашение друзей и обмен)</b></p>
    <p><b>Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, США) Google+:
            Вход в систему, поиск/приглашение друзей и обмен; Сервер push-уведомлений Google; сервер карт Google;
            Сервисы Google Play;</b></p>
    <p><b>Apple Inc. (1 Infinite Loop, Купертино, Калифорния, США, 95014) Apple GameCenter; карты Apple; Яблочный толчок
            Сервер уведомлений;</b></p>
    <p><b>Viber Media S.à r.l., Вниманию сотрудника по вопросам конфиденциальности данных, 2, rue du Fossé, L- 1536
            Люксембург, Великое Герцогство
            Люксембурга.</b></p>
    <p><b>Корпорация Microsoft: Microsoft Headquarters One Microsoft Way Redmond, WA 98052, USA</b></p>

    <h2>12. Применимое законодательство</h2>

    <p>Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Украины и любым судебным иском
        или
        производство по настоящему Соглашению должно быть возбуждено в судах Украины.</p>
{% endblock %}